body {
    box-sizing: border-box;
    margin: 0px;
    background-color: green;
}
/* Общие стили */
* *::after *::before {
    box-sizing: border-box;
}
/* Стиль хедера */
header {
    width: 1366px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    display: flex;
}
/* Стиль лого в хедере */
header .logo {
    width: 287px;
    height: 34;
    position: relative;
    left: 37px;
}